<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
      href="../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" media="all"
      href="../static/css/style.css" th:href="@{/css/bootstrap.min.css}" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body style="background-color: lightgray" class="text-center d-flex justify-content-center container-fluid">

<nav class="fixed-top mb-5 mt-2">
    <h3>Bu yerga bajarilgan amaliy ishlar joylanadi</h3>
</nav>

<main class="row mt-5 pt-5 container text-center d-flex justify-content-center pt-5">
    <a href="/amaliy_1" class="col-md-3 col-sm-12 m-1 btn btn-success">1-amaliy ish (To'g'ri zanjir)</a>
</main>






<footer class="fixed-bottom">

    <h5 style="font-style: oblique; opacity: 20%">by Mahmud Salomov</h5>
</footer>
</body>
<script th:inline="javascript" th:src="@{/js/js.js}" type="application/javascript" src="../static/js/js.js"></script>

</html>