<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
      href="../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" media="all"
      href="../static/css/style.css" th:href="@{/css/bootstrap.min.css}" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body style="background-color: lightgray" class="text-center d-flex justify-content-center container-fluid">

<nav class="fixed-top mb-5 mt-2">
    <h3>Bu yerga SI fanidan bajarilgan amaliy ishlar joylanadi</h3>
</nav>

<main class="row mt-5 pt-5 container text-center d-flex justify-content-center pt-5">
    <a href="/amaliy_1" class="col-md-3 col-sm-12 m-1 btn btn-success">1-amaliy ish (To'g'ri zanjir)</a>
    <a href="/poker" class="col-md-3 col-sm-12 m-1 btn btn-success">2-amaliy ish (Qoidalar tizimi)</a>
    <a href="/" class="col-md-3 col-sm-12 m-1 btn btn-success">3-amaliy ish (Qoidalar tizimi)</a>
    <a href="/hill" class="col-md-3 col-sm-12 m-1 btn btn-success">4-amaliy ish (Hill)</a>
    <a href="/beam" class="col-md-3 col-sm-12 m-1 btn btn-success">5-amaliy ish (Beamsearch)</a>
    <a href="/optimal" class="col-md-3 col-sm-12 m-1 btn btn-success">6-amaliy ish (Optimal search)</a>
    <a href="/game15" class="col-md-3 col-sm-12 m-1 btn btn-success">7-amaliy ish (4 liklarni birlashtirish)</a>
    <a href="/maze" class="col-md-3 col-sm-12 m-1 btn btn-success">8-amaliy ish (alfa-beta izlash)</a>
    <a href="/" class="col-md-3 col-sm-12 m-1 btn btn-success">9-amaliy ish (muammolar cheklovi)</a>
    <a href="/" class="col-md-3 col-sm-12 m-1 btn btn-success">10-amaliy ish (matnni tanish)</a>
    <a href="/ml" class="col-md-3 col-sm-12 m-1 btn btn-success">11-amaliy ish (mashina ta'limi)</a>
    <a href="/yakuniy" class="col-md-12 col-sm-12 m-1 btn btn-success">Yakuniy nazorat uchun (8 puzzle)</a>
</main>






<footer class="fixed-bottom">

    <h5 style="font-style: oblique; opacity: 20%">by Mahmud Salomov</h5>
</footer>
</body>
<script th:inline="javascript" th:src="@{/js/js.js}" type="application/javascript" src="../static/js/js.js"></script>

</html>