<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script src='https://unpkg.com/tesseract.js@v2.0.0-alpha.13/dist/tesseract.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tesseract.js/0.1.1/tesseract.min.js'></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Title</title>
</head>
<body>
<!--<label for="recognition-image-input">Choose image</label>-->
<!--<input type="file" accept="image/jpeg, image/png" id="recognition-image-input" /><br />-->
<!--<label for="recognition-confidence-input">Confidence</label>-->
<!--<input type="number" max="100" min="0" id="recognition-confidence-input" value="70" /><br />-->
<!--<label for="recognition-progress">File recognition progress:</label>-->
<!--<progress id="recognition-progress" max="100" value="0">0%</progress>-->
<!--<div id="recognition-text"></div>-->
<!--<div id="recognition-images">-->
<!--    <div id="original-image"></div>-->
<!--    <div id="labeled-image"></div>-->
<!--</div>-->


<select id="langsel">
    <option value='eng' selected> English </option>
</select>

<input type="file" id="file-1" class="inputfile" />

<img id="selected-image" th:src="@{/images/t.jpg}"  src="/images/t.jpg" />

<div id="log">
    <span id="startPre">
        <a id="startLink" href="#">Click here to recognize text in the demo</a>
        <br/> or choose your own image
    </span>
</div>


</body>

<script th:inline="javascript" th:src="@{/js/ocr.js}" src="../static/js/ocr.js"></script>
<script src='https://unpkg.com/tesseract.js@1.0.19/src/index.js'></script>

<script>

    // Tesseract.recognize(
    //     'https://tesseract.projectnaptha.com/img/eng_bw.png',
    //     'eng',
    //     { logger: m => console.log(m) }
    // ).then(({ data: { text } }) => {
    //     console.log(text);
    // })

    const worker = new Tesseract.TesseractWorker();
    worker.recognize(file, $("#langsel").val())
        .progress(function(packet){
            console.info(packet)
            progressUpdate(packet)
        })
        .then(function(data){
            console.log(data)
            progressUpdate({ status: 'done', data: data })
        })

    function progressUpdate(packet){
        var log = document.getElementById('log');

        if(log.firstChild &amp;&amp; log.firstChild.status === packet.status){
            if('progress' in packet){
                var progress = log.firstChild.querySelector('progress')
                progress.value = packet.progress
            }
        }else{
            var line = document.createElement('div');
            line.status = packet.status;
            var status = document.createElement('div')
            status.className = 'status'
            status.appendChild(document.createTextNode(packet.status))
            line.appendChild(status)

            if('progress' in packet){
                var progress = document.createElement('progress')
                progress.value = packet.progress
                progress.max = 1
                line.appendChild(progress)
            }


            if(packet.status == 'done'){
                log.innerHTML = ''
                var pre = document.createElement('pre')
                pre.appendChild(document.createTextNode(packet.data.text.replace(/\n\s*\n/g, '\n')))
                line.innerHTML = ''
                line.appendChild(pre)
                $(".fas").removeClass('fa-spinner fa-spin')
                $(".fas").addClass('fa-check')
            }

            log.insertBefore(line, log.firstChild)
        }
    }


</script>
</html>